# Environments
.env
.envrc
.venv
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/
# IDE
.idea/
# Python cache
__pycache__/
# pytest cache
.pytest_cache/
# Ruff stuff:
.ruff_cache/
# PyPI configuration file
.pypirc
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
#data storage
.data/
# pickle DBs
*.pkl
uv.lock
